body{
    background-color: gold;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

/* button{
    padding: 6px;
    background-color: greenyellow;
    border-radius: 4px;
    cursor: pointer;
} */

input{
    padding: 6px;
    margin: 4px;
}

a{
    color: red;
  
}

li{
    padding: 4px;
    font-weight: 4px;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
}